name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Automation Script
      uses: actions/checkout@v4
      with:
        sparse-checkout: .github
        ref: main
    - uses: actions/labeler@v5
      with:
          configuration-path: .github/prs-labels.yml
